---
version: '3.8'
services:

  database:
    image: postgres:14
    restart: always
    ports:
      - 6543:5432
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./docker/volumes/data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 9999:8080
    environment:
      ADMINER_DESIGN: pepa-linha

volumes:
  data: